:root {
  --page-color-bg: #fafafa;
  --page-color-bg-card: #ffffff;
  --page-color-border: #eeeeee;
  --page-color-text: #222222;
  --page-color-text-dark: #111111;
  --page-color-link: #222222;
  --page-color-link-hover: #444444;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100dvh;
  margin: 0;
}

body {
  background: var(--page-color-bg);
  color: var(--page-color-text);
  font-family: system-ui, sans-serif;
  line-height: 1.6;
}

a {
  color: var(--page-color-link);
}

a:hover,
a:focus {
  color: var(--page-color-link-hover);
  text-decoration: underline;
}

.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 55rem;
  min-height: 100vh;
  padding: 0 1rem;
}

.page__header {
  background: var(--page-color-bg-card);
  border-bottom: 0.1rem solid var(--page-color-border);
  flex-shrink: 0;
  font-weight: 600;
  padding: 2rem 1rem 1rem;
}

.page__title {
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
  font-weight: 600;
  justify-content: space-between;
  margin: 0;
  word-break: break-word;
}

news-summary-browser {
  background: var(--page-color-bg-card);
  border-top: 0.1rem solid var(--page-color-border);
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

@container (min-width: 37.5rem) {
  .page__title {
    font-size: 2rem;
  }
}
@container (max-width: 37.5rem) {
  .page__title {
    font-size: 1.5rem;
  }
}
